/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "阿里妈妈方圆体 VF Regular";
  src: url("//at.alicdn.com/wf/webfont/DiR4hSMxzcnp/HOJZk3wyKZcZ.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/DiR4hSMxzcnp/OR57xgaBo8Pa.woff")
      format("woff");
  font-display: swap;
}

.iconfont {
  font-family: "阿里妈妈方圆体 VF Regular" !important;
  font-size: 16px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainicon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
